body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'adelle','Georgia','Times New Roman','Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
	/* font-weight: bold; */
	font-family:'adelle','Georgia','Times New Roman','Serif';
    text-decoration: none;
    color: rgb(3,136,166);
}
/*a:link {
    text-decoration: none;
    color: rgb(0,100,200);
} */
a:hover {
    text-decoration: underline;
}
/* a:active {
    color: rgb(200,0,0);
} */
h1 {
    font-size: 3em;
    font-family:'adelle','Georgia','Times New Roman','Serif';
}
h3 {
    font-size: 1.5em;
	font-weight: bold;
    font-family:'adelle','Georgia','Times New Roman','Serif';
}
p {
    font-size: 1em;
    font-family:'adelle','Georgia','Times New Roman','Serif';
    line-height: 1.4em;
    /* color: rgb(0,0,0); */
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
